extends layout

block content
  header(class="main-header")
    h1 💸 Payper
    p Spend money like paper
  div(class="dashboard")
    div(id="preview", class="preview")
      p Click to select image
    form( id="uploadForm") 
      input(type="file", name="image", id="image", required )
      button(type="button", id="submitButton") Analyze Image
    div(class="info-area")
      div(id="info")
      button(id="paymentButton") Make Payment
  footer(class="main-footer") 
    p Built with Anthropic and Paystack by Aremu Smog in a couple of hours

